* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0A1F44;
    color: #F8F8FF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    border-bottom: 2px solid #F8F8FF;
}

header h1 {
    font-size: 2em;
    margin: 0;
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
nav a {
    color: #F8F8FF;
    text-decoration: none;
    padding: 10px; 
    font-size: 1.2em;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #ffcc00;
}
nav {
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #0A1F44;
    
}

.post {
  min-height: 750px; /* or any height you prefer */
  color: #F8F8FF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
    color: #F8F8FF;
    background-color: #0A1F44;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    background-color: #0A1F44;
    color: #F8F8FF;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
    font-size: 1em;
}
footer a {
    color: #F8F8FF;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    color: #ffcc00;
}


form input,
form textarea {
  border-radius: 8px;
}

form button {
  border-radius: 8px;
}

i.fab, i.fas {
  transition: transform 0.2s ease;
}

i.fab:hover, i.fas:hover {
  transform: scale(1.2);
  color: #0d6efd;
}

main p, h2 {
    padding: 25px;
    margin: 0 12px 12px 12px;
    
}

main p {
background-color: rgba(10, 31, 68, 0.5); 
    margin: 12px;
    border-radius: 5px;
    
}

#my-pic {
  width: 100%;
  max-width: 250px;
  height: auto;
  border: 1px solid black;
  border-radius: 25%;
  margin: 24px auto;
  display: block;
}

.about {
  display: block;
  text-align: left; /* or left/center */
}

.contact-title {
  margin-top: 0;
  padding-top: 0;
  text-align: left;
}

label {
    color: #0A1F44;
}

i {
    color: #F8F8FF;
}

form button {
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
form button:hover {
  background-color: #004080;
}

.card {
  min-height: 100%;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}